<h1><%= @post.title %></h1>
<<<<<<< HEAD
<%= link_to 'Change', edit_post_path(@post) %>

<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are u sure abou that?'} %>
=======
>>>>>>> 6e2bcf4d32eb2f8ad5a5c79fcfa2905e732957c6

<p><%= @post.body %></p>